<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567562983329-tmh779f1oafpd3arh89gm0hfnrtanf35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567562983329-tmh779f1oafpd3arh89gm0hfnrtanf35</string>
	<key>API_KEY</key>
	<string>AIzaSyCYByezceXIJA-Pfruu2z5klXaQdWZ2TGY</string>
	<key>GCM_SENDER_ID</key>
	<string>567562983329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackatonProject</string>
	<key>PROJECT_ID</key>
	<string>hackathon-e99a8</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-e99a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567562983329:ios:e6077526807e07eeb11de0</string>
</dict>
</plist>